* {box-sizing: border-box;
}



.header {
    height: 400px;
    width: 850px;
    position: relative;
    top: 40px;
    left: 30px;
    background-color: darkblue;

}


.div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    

}


/*Main content */


.column1 {
    float: left;
    width: 320px;
    height: 800px;
    background-color: white;
}

.column2 {
    float: right;
    width: 512px;
    height: 800px;
    background-color: #898F9C;
}

.status {
    background-color: white;
    height: 300px;
}

    .status2 {
        background-color: white;
        height: 200px;
        margin: 10px 0;


    }

    .status-profile{ 
        position: relative;
        top: 5px;
        left: 5px;
        height: 50px;
        width: 50px;
        background-color: slategray;
    }

