* {box-sizing: border-box;
}

nav {
    height: 50px;
    border: 1px; dotted grey;
    
}



.header {
    width: 850px;
    height: 425;
    position: relative;
    top:40px;
    left:30px;
    background-color: blue;

    
}