* {
    box-sizing: border-box;
}
body {
    background-color: white;
}


.header {
position: relative;
 width: 850;
 height: 400px;
 background-color: darkslateblue;
 margin: auto;
 } 


 .navbar {
height: 60px;
width: 1100px;
background-color: white;
float: right;

}


.Box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 10px;
    color: black;
}


.Bluebox {
    background: #627da0;

}


.button-list {
     position: relative;
     color: darkgray;
     top: 150px;
     left: 1100px;
     width: 2500px;
     
 }

 .navbar li {
    position: relative;
    top: 10px;
    margin-left: 30px;
    list-style: none;
    float: left;
 }
 .profile-photo {
    height: 200px;
    width: 450px;
     color: firebrick;
 }

main {
    border: 1px dotted black;
}
.column-left {
    position: relative;
    top: 60px;
    left: 0px;
    width: 328px;
    height: 2000px;
    border: 5px dotted yellow;
}

.column-right {
    position: relative;
    width: 512px;
    height: 2000px;
    border:5px tomato;
    
}

